<header class="app-header">
  <div class="header-container">

    <!-- Logo / Título -->
    <div class="logo">
      <a routerLink="/"><img class="logo-img" alt="logo" src="assets/user.png"/></a>
      <h1>Listado de usuarios</h1>
    </div>

    <!-- Botón hamburguesa (solo móvil) -->
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>

    <!-- Navegación -->
    <nav class="nav-links" [class.open]="menuOpen">
      <a routerLink="/newuser" routerLinkActive="active">Nuevo Usuario</a>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </nav>

  </div>
</header>