<div class="user-container">

  <div class="user-card">

    <!-- Imagen -->
    <div class="user-image">
      <img [src]="user()?.image" [alt]="user()?.first_name">
    </div>

    <!-- Info -->
    <div class="user-info">

      <h2>Información del usuario</h2>

      <div class="info-row">
        <span class="label">Nombre completo:</span>
        <span>{{ user()?.first_name }} {{ user()?.last_name }}</span>
      </div>

      <div class="info-row">
        <span class="label">Email:</span>
        <span>{{ user()?.email }}</span>
      </div>

      <div class="info-row">
        <span class="label">Username:</span>
        <span>{{ user()?.username }}</span>
      </div>

      <div class="info-row">
        <span class="label">Password:</span>
        <span>{{ user()?.password }}</span>
      </div>

      <!-- Botones debajo del texto -->
      <div class="user-actions">
        <button class="btn delete">Eliminar</button>
        <button class="btn edit" [routerLink]="['/updateuser', user()?._id]">Actualizar</button>
        <button class="btn back" [routerLink]="['/home']">Volver</button>
      </div>

    </div>

  </div>

</div>
