:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

main {
  height: 100vh;
  padding-top: var(--header-height);
  overflow-y: auto;
  background-color: var(--color-bg-page);
}