<div class="card">
     <div class="image-user">
        <img src="assets/user.png" alt="usuario">
    </div>
    <div class="card-body">
        <div>
            <h3>Alicia Rodriguez Sanchez</h3>
        </div>
        <div class="action">
            <button class="btn view">
                <i class="fa fa-search"></i>
                <span>Ver Detalle</span>
            </button>
            <button class="btn edit">
                <i class="fa fa-refresh"></i>
                <span>Actualizar</span>
            </button>
            <button class="btn delete">
                <i class="fa fa-trash"></i>
                <span>Borrar</span>
            </button>
        </div>
    </div>


</div>
