<div class="card">
     <div class="image-user">
        <img [src]="user().image" [alt]="user().first_name">
    </div>
    <div class="card-body">
        <div>
            <h3>{{ user().first_name }} {{ user().last_name }}</h3>
        </div>
        <div class="action">
            <button class="btn view" [routerLink]="['/user', user()._id]">
                <i class="fa fa-search"></i>
                <span>Ver Detalle</span>
            </button>
            <button class="btn edit" [routerLink]="['/updateuser', user()._id]">
                <i class="fa fa-refresh"></i>
                <span>Actualizar</span>
            </button>
            <button class="btn delete" (click)="confirmDelete(user())">
                <i class="fa fa-trash"></i>
                <span>Borrar</span>
            </button>
        </div>
    </div>
</div>
